@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Playpen+Sans:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

body {
    --main-yellow-color: #f5f50080;
}   

th {
    color: #0026ff;
    font-family: "Playpen Sans", cursive;
    text-shadow: 1px 1px 2px pink;
}
td,th,#a-propos{
    border-bottom: 3px solid rgb(0, 0, 0);
    border-top: 3px solid rgb(0, 0, 0);
    border-left: 1px solid rgb(96, 96, 96);
    border-right: 1px solid rgb(96, 96, 96);
    padding: 20px;
    text-shadow: 1px 1px 2px pink;
}
td {
    color:var(--main-orange-color);
    text-shadow: 1px 1px 2px pink;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: var(--main-yellow-color);
}
th {
    background-color: var(--main-yellow-color);
}

#photo {
    text-align: left;
}

h2, h3, h4 {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal; 
    text-shadow: 1px 1px 2px pink;
}

#pub {
    color: white;
    padding: 5px;
    background-color: black;
    border-radius: 20px;
    font-size: 0.8em;
    flex-direction: row;
}

.cadre {
    border: 3px solid black
}

.centrer,p,#columncenter {
    text-align: center;
    
}

.gauche {
    text-align: left;
}

.droite {
    text-align: right;
}

.noir {
    color: white;
    padding: 5px;
    background-color: black;
    border-radius: 20px;
    font-size: 0.8em;  
}

@media only screen and (min-width:600px) {
    body{
        border: 3px solid rgb(96, 96, 96);
    }
    td,th{
        width: 150%;
    }
    #photo {
        width: 50%;
    }
    h1 {
        width: 70%;
    }
}
@media only screen and (max-width:546px){
    #responsive{
        display: flex;
        flex-direction: column;
    }
}

#espace{
    margin-bottom: 15px;
}
#a-propos{
    display: flex;
    background-color: rgb(206, 206, 206);
    justify-content: space-around;
    padding: 5px;
    display: flex;
    align-items: flex-start;
}
.retourligne{
    margin-bottom: 20px;
}
.nucleaire {
    border: 3px solid black;
    padding: 1em;
}
.top{
    flex-direction: row;
}
#head{
    background-color: rgb(35, 35, 118);
    display: flex;
    width: auto;
}
.white{
    color: white;
}
.testflex{
    display: flex;
    align-items: flex-end;
}
#colonne{
    display: flex;
    flex-direction: column;
}
#columncenter{
    display: flex;
    align-items: center;

}
